.hidden {
    display: none;
}

#historySection {
    background: #111;
    border: 1px solid #444;
    padding: 15px;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

#historyList {
    list-style: square;
    color: #aaa;
    font-size: 0.8rem;
}

.log-entry strong {
    letter-spacing: 1px;
    text-shadow: 0 0 5px currentColor;
}
